<dom-module id="forum-post">
	<template>
		<style>
            :host {
                padding: 10px;
                margin: 10px;
            }
            .box {
                display: flex;
                margin-bottom: -10px;
            }
            .user {
                background-color: white;
                width: 250px;
                text-align: center;
                float: left;
                border-right: 1px solid #dbdbdb;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            .postItem {
                background-color: white;
                width: 100%;
                word-wrap: break-word;
            }
            .postItem:focus {
                color: white;
            }
            .menuicon {
                color: black;
            }
            .menudrop {
                padding: 5px;
                display: flex;
            }
            .message {
                background-color: white;
                width: 100%;
                padding: 20px;
                color: black;
            }
            .date {
                font-size: 10;
                color: #828282;
                top: 5px;
                left: 85px;
                position: absolute;
            }
		</style>
        
        <paper-material class="box">
            <div class="user" hidden$="{{smallScreen}}">
                <content select=".user"></content>
            </div>
            <paper-icon-item class="postItem">
                <iron-icon icon="more-vert" hidden$="{{!usermenu}}" on-click="_openmenu" class="menuicon" item-icon id="menuVert">
                </iron-icon>
                <iron-icon hidden$="{{usermenu}}" item-icon></iron-icon>
                <iron-dropdown horizontal-align="left" horizontal-offset="40" 
                               vertical-align="top" vertical-offset="-20" id="posteditmenu">
                    <paper-material class="dropdown-content menuicon menudrop" elevation="0">
                        <content select=".action"></content>
                    </paper-material>
                </iron-dropdown>
                <div class="date"><span hidden$="{{!smallScreen}}"><content select=".userSmall"></content></span> {{_formatDate}}</div>
                <div class="message">{{message}}</div>
            </paper-icon-item>
        </paper-material>
        
        <iron-media-query query="(max-width: 800px)" query-matches="{{smallScreen}}"></iron-media-query>
	</template>

	<script>
		Polymer({
			is: "forum-post",

			properties: {
				// 
				id: {
					type: Number
				},
                // 
				message: {
					type: String,
					value: "Topic message",
                    observer: '_decode'
				},
                // 
				usermenu: {
					type: Boolean,
					value: false
				},
                date: {
                    type: String,
                    observer: '_format'
                }
			},
            
            attached: function() {
                this._decode();
            },
            
            _format: function() {
                var date = new Date(this.date);
                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                
                this._formatDate = date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + " " + hours + ":" + minutes;
            },
            
            _openmenu: function() {
                this.$.posteditmenu.positionTarget = this.$.menuVert;
                this.$.posteditmenu.toggle();
            },
            
            _decode: function() {
                if(this.$$('.message') != null)
                    this.$$('.message').innerHTML = this.message;
            }
		});
	</script>
</dom-module>