<dom-module id="forum-topic">
	<template>
		<style>
            :host {
                padding: 10px;
                cursor: pointer;
            }
            .box {
                margin-left: 15px;
            }
		</style>
        
        <div class="box">
            <div>{{title}}</div>
            <content></content>
        </div>
	</template>

	<script>
		Polymer({
			is: "forum-topic",

			properties: {
				// 
				title: {
					type: String,
					value: "Forum Topic"
				}
			}
		});
	</script>
</dom-module>