<!--
------------------
Structure
------------------
    app-forum
        forum-area

Pages:
    - 0: area and section
    - 1: section and topic
    - 2: message
    - 3: create topic or post
    - 4: forum parameters

Example:
    area = [{id:1, title: "Area 1"}, {id:2, title: "Area 2"}]

    section = [{id:1, area: 1, title: "Sezione 1", description: "Descrizione 1"}, 
               {id:2, area: 1, title: "Sezione 2", description: "Descrizione 2"}]

    topic = [{id:1, section: 1, title: "Topic 1", status: "open"}, 
            {id:2, section: 1, title: "Topic 2", status: "close"}]

area 1      
section2        id1
    section 8
    topic 1
    topic 2

------------------
Events
------------------
IN:
- 'getToken'        -> from client/server
- 'resultReady'     -> from 'forum-edit'
- 'editArea'        -> from 'forum-edit'
- 'editSection'     -> from 'forum-edit'
OUT:
- 'loginUserForum'  -> to client/server
- 'forumEdit'       -> to client/server

Type on 'forumEdit':
- reply                 message / typeid (topic)
- editPost              message / typeid (post)
- editTopic             id (topic) / title / message / typeid (post)
- newTopic              id (topic) / title / message / typeid (section)
- newArea               
- editArea              
- deleteArea            
- newSection            
- editSection           
- deleteSection         

------------------
User
------------------
LOGIN: 
    user/password  ->  check in db  ->  return token  ->  save id and token in cookie

EDIT: 
    every editing send id and token

LOGOUT:
    unset cookie

------------------
Dependencies
------------------

DA AGGIUNGERE DA QUA INVECE CHE NELL'INDEX

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
-->

<dom-module id="app-forum">
	<template>
		<style>
            :host {
                text-align: left;
                font-family: 'Roboto', sans-serif;
            }
            paper-material {
                display: inline-block;
                width: 100%;
                height: auto;
                min-height: 100%;
                background: var(--forum-primary-color);
                border-radius: 5px;
            }
            .title {
                padding: 10px;
                font-weight: bold;
                border-bottom: 1px solid var(--forum-secondary-color);
                text-align: center;
            }
            iron-pages {
                padding: 20px;
            }
            iron-icon {
                cursor: pointer;
            }
            .loginbar {
                float:right; 
                width: 300px;
            }
            .logininput {
                width:100px; 
                float:left; 
                margin-left: 15px; 
                margin-top: -10px
            }
            .loginicon {
                margin-top: 20px;
                padding-left: 15px;
            }
            .infouser {
                
            }
		</style>

		<div>
			<paper-material elevation="2">
				<div class="title">{{title}}</div>
                
                <div>
                    <iron-icon icon="home" on-click="_goHome"></iron-icon>
                    <template is="dom-if" if="{{_checkBack}}">
                        <iron-icon icon="arrow-back" on-click="_goBack"></iron-icon>
                    </template>
                    <template is="dom-if" if="{{_checkEdit}}">
                        <iron-icon icon="create" on-click="_goEditForum"></iron-icon>
                    </template>
                    
                    <!-- User bar -->
                    <div class="loginbar">
                        <template is="dom-if" if="{{!_checkUser}}">
                            <form is="iron-form" id="loginForm" method="post">
                                <paper-input name="username" label="Username" class="logininput"></paper-input>
                                <paper-input name="password" label="Password" class="logininput"></paper-input>
                                <iron-icon icon="send" class="loginicon" on-click="_loginUser"></iron-icon>
                            </form>
                        </template>
                        <template is="dom-if" if="{{_checkUser}}">
                            <div class="infouser">
                                {{_userInfo.nick}} <iron-icon icon="account-circle"></iron-icon>
                                <iron-icon icon="exit-to-app" class="loginicon" on-click="_logoutUser"></iron-icon>
                            </div>
                        </template>
                    </div>
                </div>
                
                <iron-pages id="forumpages" selected="0">
                    <!-- Page with areas and sections -->
                    <div>
                        <template id="forumarea" is="dom-repeat" items={{area}} as="area">
                            <forum-area name={{area.title}}>
                                <template id="forumsection" is="dom-repeat" items={{section}} as="section">
                                    <template is="dom-if" if="{{_checkSubSection(section.subsection)}}">
                                        <template is="dom-if" if="{{_areaFilter(area.id, section.area)}}">
                                            <forum-section name={{section.title}} 
                                                           description={{section.description}}
                                                           on-click="_sectionSelect">
                                            </forum-section>
                                        </template>
                                    </template>
                                </template>
                            </forum-area>
                        </template>
                    </div>
                    <!-- Page with sections and topics-->
                    <div>
                        <template is="dom-if" if="{{_checkUser}}">
                            <paper-button on-click="_newTopic">New topic</paper-button>
                        </template>
                        <template is="dom-repeat" items={{section}} as="section" filter="{{_sectionFilter(pageFieldId)}}">
                            <forum-section name={{section.title}} 
                                           description={{section.description}}
                                           on-click="_sectionSelect"></forum-section>
                        </template>
                        <template id="topicList" is="dom-repeat" items={{topic}} as="topic" filter="{{_topicFilter(pageFieldId)}}">
                                <forum-topic title={{topic.title}} on-click="_topicSelect"></forum-topic>
                        </template>
                    </div>
                    <!-- Page with posts -->
                    <div>
                        <div>{{topicName}}</div>
                        <template id="postList" is="dom-repeat" items={{post}} as="post" filter="{{_postFilter(trackPage.topic)}}">
                            <forum-post message="{{post.message}}" id="{{post.id}}">
                                <forum-user info-user={{_findUser(post.user)}}></forum-user>
                                <template is="dom-if" if="{{_checkAction}}">
                                    <paper-button on-click="_editPost">
                                        <iron-icon icon="create"></iron-icon>
                                    </paper-button>
                                    <paper-button on-click="_replyPost">
                                        <iron-icon icon="reply"></iron-icon>
                                    </paper-button>
                                </template>
                            </forum-post>
                        </template>
                    </div>
                    <!-- Page to create topic or write post -->
                    <div>
                        <forum-edit type={{pageField}} 
                                    type-id={{pageFieldId}} 
                                    title={{_tempTitle}} 
                                    message={{_tempMessage}}
                                    area={{_tempArea}}
                                    section={{_tempSection}}>
                        </forum-edit>
                    </div>
                    <!-- Page to edit forum parameters -->
                    <div>
                        
                    </div>
                </iron-pages>
                
				<content></content>
			</paper-material>
		</div>
	</template>

	<script>
		Polymer({
			is: "app-forum",

			properties: {
				// title on top of forum
				title: {
					type: String,
					value: "Test app forum"
				},
                // main color of forum
                primaryColor: {
                    type: String,
                    value: "#82bfc8",
                    notify: true,
                    observer: "_change_primary"
                },
                // secondary color of forum
                secondaryColor: {
                    type: String,
                    value: "#16414f",
                    observer: "_change_secondary"
                },
                // array with all areas of forum
                area: {
                    type: Array,
                    value: [{id:1, title: "Area 1"}, {id:2, title: "Area 2"}]
                },
                // array with all sections of forum
                section: {
                    type: Array,
                    value: [{id:1, area: 1, title: "Sezione 1", description: "Descrizione 1", subsection: null}, 
                            {id:2, area: 1, title: "Sezione 2", description: "Descrizione 2", subsection: null},
                            {id:3, area: 2, title: "Sezione 3", description: "Descrizione 3", subsection: null}, 
                            {id:4, area: 2, title: "Sezione 4", description: "Descrizione 4", subsection: null}, 
                            {id:5, area: 2, title: "Sezione 5", description: "Descrizione 5", subsection: 3}, 
                            {id:6, area: 2, title: "Sezione 6", description: "Descrizione 6", subsection: 5}]
                },
                // array with all topics of forum
                topic: {
                    type: Array,
                    value: [{id:1, section: 3, title: "Topic 1", status: "open"}, 
                            {id:2, section: 1, title: "Topic 2", status: "close"},
                            {id:3, section: 4, title: "Topic 3", status: "open"}, 
                            {id:4, section: 1, title: "Topic 4", status: "open"},
                            {id:5, section: 1, title: "Topic 5", status: "open"}, 
                            {id:6, section: 4, title: "Topic 6", status: "open"},
                            {id:7, section: 3, title: "Topic 7", status: "open"}, 
                            {id:8, section: 2, title: "Topic 8", status: "close"},
                            {id:9, section: 5, title: "Topic 9", status: "open"}, 
                            {id:10, section: 2, title: "Topic 10", status: "close"}]
                },
                // array with all posts of forum
                post: {
                    type: Array,
                    value: [{id:1, topic: 3, message: "Messaggio Topic 3", user: 1}, 
                            {id:2, topic: 1, message: "Messaggio Topic 1", user: 3},
                            {id:3, topic: 4, message: "Messaggio Topic 4", user: 4}, 
                            {id:4, topic: 1, message: "Messaggio Topic 1", user: 2},
                            {id:5, topic: 9, message: "Messaggio Topic 9", user: 1}, 
                            {id:6, topic: 4, message: "Messaggio Topic 4", user: 1},
                            {id:7, topic: 3, message: "Messaggio Topic 3", user: 2}, 
                            {id:8, topic: 2, message: "Messaggio Topic 2", user: 3},
                            {id:9, topic: 1, message: "Messaggio Topic 1", user: 4}, 
                            {id:10, topic: 2, message: "Messaggio Topic 2", user: 4}]
                },
                // array with all users of forum
                // account: 1/admin, 2/mod, 3/user
                user: {
                    type: Array,
                    value: [{id:1, nickname: "admin", account: 1, avatar: "images/users/avatar1.jpg"}, 
                            {id:2, nickname: "dav04", account: 2, avatar: "images/users/avatar2.jpg"},
                            {id:3, nickname: "poul", account: 3, avatar: "images/users/avatar3.jpg"}, 
                            {id:4, nickname: "taz", account: 3, avatar: "images/users/avatar4.jpg"}]
                },
                // check if user is logged
                _checkUser: {
                    type: String,
                    value: false,
                    observer: "_checkStatus"
                },
                // check if action button have to be visible
                _checkAction: {
                    type: Boolean
                },
                // check if edit of forum button have to be visible
                _checkEdit: {
                    type: Boolean
                },
                
                // information about active user
                _userInfo: {
                    type: Array,
                    value: [{id: null, nick: null, account: null}]
                },
                // data when an edit event happens inside forum
                editEvent: {
                    type: Array,
                    reflectToAttribute: true
                },
                // name of active page
                pageField: {
                    type: String
                },
                // id of active section or topic
                pageFieldId: {
                    type: Number
                },
                // title of active topic
                topicName: {
                    type: String
                },
                // trace path of browsing
                trackPage: {
                    type: Array,
                    value: [{section: [], topic: null}]
                },
                // check to view or not back button
                _checkBack: {
                    type: Boolean
                }
			},
            
            listeners: {
                'getToken':     '_saveIdToken',
                'resultReady':  '_catchResult',
                'editArea' :    '_catchArea',
                'editSection' : '_catchSection'
            },
            
            ready: function() {
                this._change_primary();
                this._change_secondary();
                
                if(document.cookie.indexOf('app_forum_user') != -1) {
                    this._userInfo.id = this._getCookie().id;
                    this._userInfo.nick = this.user[this.user.findIndex(this._findId, {id: this._userInfo.id})].nickname;
                    this._userInfo.account = this.user[this.user.findIndex(this._findId, {id: this._userInfo.id})].account;
                    this._checkUser = true;
                    this._checkEdit = this._userInfo.account == 1;
                }
            },
            
            // STYLE
            // -----------------------
            
            // change primary color of app-forum
            _change_primary: function() {
                this.customStyle['--forum-primary-color'] = this.primaryColor;
                this.updateStyles();
            },
            
            // change secondary color of app-forum
            _change_secondary: function() {
                this.customStyle['--forum-secondary-color'] = this.secondaryColor;
                this.updateStyles();
            },
            
            // USER
            // -----------------------
            
            // send username and password by 'loginUserForum' event
            _loginUser: function() {
                var info = this.$$('#loginForm').serialize();
                this._userInfo.nick = info.username;
                this.fire('loginUserForum', {username: info.username, password: info.password});
            },
            
            // save id and token into a cookie
            _saveIdToken: function(data) {
                this._checkUser = true;
                this._userInfo.id = data.detail.id;
                this._userInfo.account = this.user[this.user.findIndex(this._findId, {id: this._userInfo.id})].account;
                this._checkEdit = this._userInfo.account == 1;
                
                var d = new Date();
                d.setTime(d.getTime() + (30*24*60*60*1000)); // 30 days from now
                var expires = "expires="+ d.toUTCString();
                document.cookie = "app_forum_user=" + data.detail.id + "$$" + data.detail.token + ";" + expires + "; path=/";
            },
            
            // logout user and delete relative cookie
            _logoutUser: function() {
                this._checkUser = false;
                this._userInfo.id = null;
                this._userInfo.nick = null;
                document.cookie = "app_forum_user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
            },
            
            // return id and token of user
            _getCookie: function() {
                var id = document.cookie.substring(15, document.cookie.indexOf('$$'));
                var token = document.cookie.substring(document.cookie.indexOf('$$')+2);
                return {id: id, token: token};
            },
            
            // observe status of '_checkUser'
            _checkStatus: function() {
                if(!this._checkUser) {
                    this._checkAction = false;
                    this._checkEdit = false;
                } else if(this.trackPage != undefined && this.trackPage.topic != null) {
                    this._checkAction = this.topic[this.topic.findIndex(this._findId, {id: this.trackPage.topic})].status == 'open';
                    this._checkEdit = this._userInfo.account == 1;
                }
            },
            
            // NAVIGATION BAR
            // -----------------------
            
            // go to homepage
            _goHome: function() {
                this.subSection = [];
                this.pageFieldId = undefined;
                this.previousPageFieldId = undefined;
                this.$.forumpages.select(0);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // go to previous page
            _goBack: function() {
                if(this.trackPage.topic != null && this.pageField != "reply" && 
                   this.pageField != "editPost" && this.pageField != "editTopic") {
                    this.trackPage.topic = null;
                    this.pageFieldId = this.trackPage[0].section[this.trackPage[0].section.length-1];
                    this.$.forumpages.select(1);
                } else if(this.trackPage.topic != null) {
                    this.pageFieldId = this.trackPage.topic;
                    this.pageField = "topic";
                    this._tempTitle = null;
                    this._tempMessage = null;
                    this.$.forumpages.select(2);
                } else if(this.trackPage[0].section.length <= 1 && (this.pageField != "newTopic")) {
                    this.trackPage[0].section.pop();
                    this.$.forumpages.select(0);
                } else if(this.trackPage[0].section.length >= 1) {
                    if(this.pageField != "newTopic")
                        this.trackPage[0].section.pop();
                    else
                        this.pageField = "section";
                    this.pageFieldId = this.trackPage[0].section[this.trackPage[0].section.length-1];
                    this.$.forumpages.select(1);
                }
                
                if(this.$.forumpages.selected == 0) {
                    this.trackPage[0].section.length = [];
                    this.pageFieldId = undefined;
                    this.previousPageFieldId = undefined;
                }
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // go to edit structure of forum page
            _goEditForum: function() {
                this.pageField = "editForum";
                this._tempArea = this.area;
                this._tempSection = this.section;
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // SUPPORT FUNCTION
            // -----------------------
            
            // filter section to not see subsection
            _checkSubSection: function(sub) {
                return sub == null || sub == "";
            },
            
            // filter section with id of area
            _areaFilter: function(id1, id2) {  
                return id1 == id2;
            },
            
            // filter subsection with id of section
            _sectionFilter: function(idSection) {
                return function(section) {
                    return idSection == section.subsection;
                };
            },
            
            // filter topics with id of section
            _topicFilter: function(idSection) {
                return function(topic) {
                    return idSection == topic.section;
                };
            },
            
            // filter posts with id of topic
            _postFilter: function(idTopic) {
                return function(post) {
                    return idTopic == post.topic;
                };
            },
            
            // show topics of selected section
            _sectionSelect: function(e) {
                this.push('trackPage.0.section', e.model.section.id);
                this.pageFieldId = e.model.section.id;
                this.$.forumpages.select(1);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show posts of selected topic
            _topicSelect: function(e) {
                this.trackPage.topic = e.model.topic.id;
                this.notifyPath('trackPage.topic');
                this.pageFieldId = e.model.topic.id;
                this.topicName = e.model.topic.title;
                this._checkAction = this._checkUser && (e.model.topic.status == 'open')
                this.$.forumpages.select(2);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show windows to create a new topic
            _newTopic: function() {
                this.pageField = "newTopic";
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // 
            _editPost: function(e) {
                var model = this.$.postList.modelForElement(e.target);
                if(model.index == 0) {
                    this.pageField = "editTopic";
                    this._tempTitle = this.topicName;
                } else {
                    this.pageField = "editPost";
                    this._tempTitle = "";
                }
                this.pageFieldId = model.post.id;
                this._tempMessage = model.post.message;
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show window to reply to a post
            _replyPost: function(e) {
                this.pageField = "reply";
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // return info of a specific user by id
            _findUser: function(id) {
                var pos = this.user.findIndex(this._findId, {id: id});
                return this.user[pos];
            },
            
            // support to find position of an id in an array
            _findId: function(element, index, array) {
                return element.id == this.id;
            },
            
            // support to find position of an id in an array
            _findIndex: function(element) {
                return element.id == this.pageFieldId;
            },
            
            // MANAGE RESULT
            // -----------------------
            
            // elaborate data received by the 'resultReady' event
            _catchResult: function(data) {
                var tempPageField = this.pageField;

                // Edit title in 'topic' array and/or message in 'post' array
                if(this.pageField == "editPost" || this.pageField == "editTopic") {
                    if(this.pageField == "editTopic") {
                        data.detail.result.id = this.trackPage.topic;
                        this.editEvent = data.detail.result;
                    } else {
                        this.editEvent = data.detail.result;
                    }
                    var pos = this.post.findIndex(this._findIndex, this);
                    this.pageFieldId = this.post[pos].topic;
                    this.post[pos].message = this.editEvent.message;
                    this.notifyPath('post.' + pos + '.message');
                    this.pageField = "topic";
                    this.$.forumpages.select(2);
                    this._checkBack = this.$.forumpages.selected != 0;
                    
                // Add a new record in 'post' array
                } else if(this.pageField == "reply") {
                    this.editEvent = data.detail.result;
                    var newid = this.post[this.post.length-1].id + 1;
                    this.post.push({id: newid, topic: this.editEvent.typeid, message: this.editEvent.message, user: this._userInfo.id});
                    this.notifySplices('post', [{index: (newid - 1), removed: [], addedCount: 1, object: this.post}]);
                    this.pageField = "topic";
                    this.$.forumpages.select(2);
                    this._checkBack = this.$.forumpages.selected != 0;
                    
                // Add a new record in 'topic' and 'post' arrays
                } else if(this.pageField == "newTopic") {
                    var newid = this.topic[this.topic.length-1].id + 1;
                    data.detail.result.id = newid;
                    this.editEvent = data.detail.result;
                    this.topic.push({id: newid, section: this.editEvent.typeid, title: this.editEvent.title, status: 'open'});
                    this.notifySplices('topic', [{index: (newid - 1), removed: [], addedCount: 1, object: this.topic}]);
                    var newid2 = this.post[this.post.length-1].id + 1;
                    this.post.push({id: newid2, topic: newid, message: this.editEvent.message, user: this._userInfo.id});
                    this.notifySplices('post', [{index: (newid2 - 1), removed: [], addedCount: 1, object: this.post}]);
                    this.pageField = "section";
                    this.$.forumpages.select(1);
                    this._checkBack = this.$.forumpages.selected != 0;
                  
                // 
                } else {
                    this.$.forumpages.select(1);
                    this._checkBack = this.$.forumpages.selected != 0;
                }
                this.fire('forumEdit', {type: tempPageField, auth: this._getCookie()});
            },
            
            // elaborate data received by the 'editArea' event in forum-edit component
            _catchArea: function(data) {
                this.area = data.detail.result;
                if(data.detail.type == "newArea") {
                    this.notifySplices('area', [{index: (this.area.length - 1), removed: [], addedCount: 1, object: this.area}]);
                    this.editEvent = data.detail.result[this.area.length - 1];
                    
                } else if(data.detail.type == "editArea") {
                    this.notifyPath('area.' + data.detail.pos + '.title');
                    this.editEvent = data.detail.result[data.detail.pos];
                    
                } else if(data.detail.type == "deleteArea") {
                    this.notifySplices('area', [{index: data.detail.pos, removed: [data.detail.removed], addedCount: 0, object: this.area}]);
                    this.editEvent = data.detail.removed;
                }
                
                this.fire('forumEdit', {type: data.detail.type, auth: this._getCookie()});
            },
            
            // elaborate data received by the 'editSection' event in forum-edit component
            _catchSection: function(data) {
                this.section = data.detail.result;
                if(data.detail.type == "newSection") {
                    this.notifySplices('section', [{index: (this.section.length - 1), removed: [], addedCount: 1, 
                                                object: this.section}]);
                    this.editEvent = data.detail.result[this.section.length - 1];
                    
                } else if(data.detail.type == "editSection") {
                    this.notifyPath('section.' + data.detail.pos + '.title');
                    this.notifyPath('section.' + data.detail.pos + '.description');
                    this.notifyPath('section.' + data.detail.pos + '.area');
                    if(data.detail.oldsub != this.section[data.detail.pos].subsection)
                        this.notifyPath('section.' + data.detail.pos + '.subsection');
                    this.editEvent = data.detail.result[data.detail.pos];
                      
                } else if(data.detail.type == "deleteSection") {
                    this.notifySplices('section', [{index: data.detail.pos, removed: [data.detail.removed], addedCount: 0, object: this.section}]);
                    this.editEvent = data.detail.removed;
                }
                
                this.fire('forumEdit', {type: data.detail.type, auth: this._getCookie()});
            }
		});
	</script>
</dom-module>