<!--
Structure:
    app-forum
        forum-area

Pages:
    - 0: area and section
    - 1: section and topic
    - 2: message
    - 3: create topic or post
    - 4: forum parameters

Example:
    area = [{id:1, title: "Area 1"}, {id:2, title: "Area 2"}]

    section = [{id:1, area: 1, title: "Sezione 1", description: "Descrizione 1"}, 
               {id:2, area: 1, title: "Sezione 2", description: "Descrizione 2"}]

    topic = [{id:1, section: 1, title: "Topic 1", status: "open"}, 
            {id:2, section: 1, title: "Topic 2", status: "close"}]

area 1      
section2        id1
    section 8
    topic 1
    topic 2
-->

<dom-module id="app-forum">
	<template>
		<style>
            :host {
                text-align: left;
                font-family: 'Roboto', sans-serif;
            }
            paper-material {
                display: inline-block;
                width: 100%;
                height: auto;
                min-height: 100%;
                background: var(--forum-primary-color);
                border-radius: 5px;
            }
            .title {
                padding: 10px;
                font-weight: bold;
                border-bottom: 1px solid var(--forum-secondary-color);
                text-align: center;
            }
            iron-pages {
                padding: 20px;
            }
            iron-icon {
                cursor: pointer;
            }
		</style>

		<div>
			<paper-material elevation="2">
				<div class="title">{{title}}</div>
                
                <div>
                    <iron-icon icon="home" on-click="_goHome"></iron-icon>
                    <template is="dom-if" if="{{_checkBack}}">
                        <iron-icon icon="arrow-back" on-click="_goBack"></iron-icon>
                    </template>
                    <iron-icon icon="create" on-click="_goEditForum"></iron-icon>
                </div>
                
                <iron-pages id="forumpages" selected="0">
                    <!-- Page with areas and sections -->
                    <div>
                        <template id="forumarea" is="dom-repeat" items={{area}} as="area">
                            <forum-area name={{area.title}}>
                                <template id="forumsection" is="dom-repeat" items={{section}} as="section">
                                    <template is="dom-if" if="{{_checkSubSection(section.subsection)}}">
                                        <template is="dom-if" if="{{_sectionFilter(area.id, section.area)}}">
                                            <forum-section name={{section.title}} 
                                                           description={{section.description}}
                                                           on-click="_sectionSelect">
                                            </forum-section>
                                        </template>
                                    </template>
                                </template>
                            </forum-area>
                        </template>
                    </div>
                    <!-- Page with sections and topics-->
                    <div>
                        <paper-button on-click="_newTopic">New topic</paper-button>
                        <template is="dom-repeat" items={{section}} as="section">
                            <template is="dom-if" if="{{_sectionFilter(pageFieldId, section.subsection)}}">
                                <forum-section name={{section.title}} 
                                               description={{section.description}}
                                               on-click="_sectionSelect"></forum-section>
                            </template>
                        </template>
                        <template is="dom-repeat" items={{topic}} as="topic">
                            <template is="dom-if" if="{{_sectionFilter(pageFieldId, topic.section)}}">
                                <forum-topic title={{topic.title}} on-click="_topicSelect"></forum-topic>
                            </template>
                        </template>
                    </div>
                    <!-- Page with posts -->
                    <div>
                        <template is="dom-repeat" items={{post}} as="post">
                            <template is="dom-if" if="{{_sectionFilter(trackPage.topic, post.topic)}}">
                                <forum-post message="{{post.message}}" id="{{post.id}}">
                                    <forum-user info-user={{_findUser(post.user)}}></forum-user>
                                    <paper-button on-click="_editPost">
                                        <iron-icon icon="create"></iron-icon>
                                    </paper-button>
                                    <paper-button on-click="_replyPost">
                                        <iron-icon icon="reply"></iron-icon>
                                    </paper-button>
                                </forum-post>
                            </template>
                        </template>
                    </div>
                    <!-- Page to create topic or write post -->
                    <div>
                        <forum-edit type={{pageField}} 
                                    type-id={{pageFieldId}} 
                                    title={{_tempTitle}} 
                                    message={{_tempMessage}}
                                    area={{_tempArea}}
                                    section={{_tempSection}}>
                        </forum-edit>
                    </div>
                    <!-- Page to edit forum parameters -->
                    <div>
                        
                    </div>
                </iron-pages>
                
				<content></content>
			</paper-material>
		</div>
	</template>

	<script>
		Polymer({
			is: "app-forum",

			properties: {
				// define title on top of forum
				title: {
					type: String,
					value: "Test app forum"
				},
                // define main color of forum
                primaryColor: {
                    type: String,
                    value: "#82bfc8",
                    notify: true,
                    observer: "_change_primary"
                },
                // define secondary color of forum
                secondaryColor: {
                    type: String,
                    value: "#16414f",
                    observer: "_change_secondary"
                },
                //
                area: {
                    type: Array,
                    value: [{id:1, title: "Area 1"}, {id:2, title: "Area 2"}]
                },
                //
                section: {
                    type: Array,
                    value: [{id:1, area: 1, title: "Sezione 1", description: "Descrizione 1", subsection: null}, 
                            {id:2, area: 1, title: "Sezione 2", description: "Descrizione 2", subsection: null},
                            {id:3, area: 2, title: "Sezione 3", description: "Descrizione 3", subsection: null}, 
                            {id:4, area: 2, title: "Sezione 4", description: "Descrizione 4", subsection: null}, 
                            {id:5, area: 2, title: "Sezione 5", description: "Descrizione 5", subsection: 3}, 
                            {id:6, area: 2, title: "Sezione 6", description: "Descrizione 6", subsection: 5}]
                },
                //
                topic: {
                    type: Array,
                    value: [{id:1, section: 3, title: "Topic 1", status: "open"}, 
                            {id:2, section: 1, title: "Topic 2", status: "close"},
                            {id:3, section: 4, title: "Topic 3", status: "open"}, 
                            {id:4, section: 1, title: "Topic 4", status: "open"},
                            {id:5, section: 1, title: "Topic 5", status: "open"}, 
                            {id:6, section: 4, title: "Topic 6", status: "open"},
                            {id:7, section: 3, title: "Topic 7", status: "open"}, 
                            {id:8, section: 2, title: "Topic 8", status: "close"},
                            {id:9, section: 5, title: "Topic 9", status: "open"}, 
                            {id:10, section: 2, title: "Topic 10", status: "close"}]
                },
                //
                post: {
                    type: Array,
                    value: [{id:1, topic: 3, message: "Messaggio Topic 3", user: 1}, 
                            {id:2, topic: 1, message: "Messaggio Topic 1", user: 3},
                            {id:3, topic: 4, message: "Messaggio Topic 4", user: 4}, 
                            {id:4, topic: 1, message: "Messaggio Topic 1", user: 2},
                            {id:5, topic: 9, message: "Messaggio Topic 9", user: 1}, 
                            {id:6, topic: 4, message: "Messaggio Topic 4", user: 1},
                            {id:7, topic: 3, message: "Messaggio Topic 3", user: 2}, 
                            {id:8, topic: 2, message: "Messaggio Topic 2", user: 3},
                            {id:9, topic: 1, message: "Messaggio Topic 1", user: 4}, 
                            {id:10, topic: 2, message: "Messaggio Topic 2", user: 4}]
                },
                //
                user: {
                    type: Array,
                    value: [{id:1, nickname: "admin", account: 4, avatar: "images/users/avatar1.jpg"}, 
                            {id:2, nickname: "dav04", account: 3, avatar: "images/users/avatar2.jpg"},
                            {id:3, nickname: "poul", account: 2, avatar: "images/users/avatar3.jpg"}, 
                            {id:4, nickname: "taz", account: 2, avatar: "images/users/avatar4.jpg"}]
                },
                // Contain data when an edit event happens inside forum
                editEvent: {
                    type: Array
                },
                //
                pageField: {
                    type: String
                },
                //
                pageFieldId: {
                    type: Number
                },
                //
                trackPage: {
                    type: Array,
                    value: [{section: [], topic: null}]
                },
                //
                _checkBack: {
                    type: Boolean
                }
			},
            
            listeners: {
                'resultReady':  '_catchResult',
                'editArea' :    '_catchArea',
                'editSection' : '_catchSection'
            },
            
            ready: function() {
                this._change_primary();
                this._change_secondary();
            },
            
            // change primary color of app-forum
            _change_primary: function() {
                this.customStyle['--forum-primary-color'] = this.primaryColor;
                this.updateStyles();
            },
            
            // change secondary color of app-forum
            _change_secondary: function() {
                this.customStyle['--forum-secondary-color'] = this.secondaryColor;
                this.updateStyles();
            },
            
            // go to homepage
            _goHome: function() {
                this.subSection = [];
                this.pageFieldId = undefined;
                this.previousPageFieldId = undefined;
                this.$.forumpages.select(0);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // go to previous page
            _goBack: function() {
                if(this.trackPage.topic != null && this.pageField != "reply" && this.pageField != "editPost") {
                    this.trackPage.topic = null;
                    this.pageFieldId = this.trackPage[0].section[this.trackPage[0].section.length-1];
                    this.$.forumpages.select(1);
                } else if(this.trackPage.topic != null) {
                    this.pageFieldId = this.trackPage.topic;
                    this.pageField = "topic";
                    this._tempTitle = null;
                    this._tempMessage = null;
                    this.$.forumpages.select(2);
                } else if(this.trackPage[0].section.length <= 1 && this.pageField != "newTopic") {
                    this.trackPage[0].section.pop();
                    this.$.forumpages.select(0);
                } else if(this.trackPage[0].section.length >= 1) {
                    if(this.pageField != "newTopic")
                        this.trackPage[0].section.pop();
                    else
                        this.pageField = "section";
                    this.pageFieldId = this.trackPage[0].section[this.trackPage[0].section.length-1];
                    this.$.forumpages.select(1);
                }
                
                if(this.$.forumpages.selected == 0) {
                    this.trackPage[0].section.length = [];
                    this.pageFieldId = undefined;
                    this.previousPageFieldId = undefined;
                }
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // go to edit structure of forum page
            _goEditForum: function() {
                this.pageField = "editForum";
                this._tempArea = this.area;
                this._tempSection = this.section;
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // filter section to not see subsection
            _checkSubSection: function(sub) {
                return sub == null || sub == "";
            },
            
            // filter to see subelements of active element
            _sectionFilter: function(id1, id2) {  
                return id1 == id2;
            },
            
            // show topics of selected section
            _sectionSelect: function(e) {
                this.push('trackPage.0.section', e.model.section.id);
                this.pageFieldId = e.model.section.id;
                this.$.forumpages.select(1);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show posts of selected topic
            _topicSelect: function(e) {
                this.trackPage.topic = e.model.topic.id;
                this.notifyPath('trackPage.topic');
                this.pageFieldId = e.model.topic.id;
                this.$.forumpages.select(2);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show windows to create a new topic
            _newTopic: function() {
                this.pageField = "newTopic";
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            // SI DEVE AGGIUNGERE IL CASO CHE SIA IL PRIMO POST DEL TOPIC PER VISUALIZZARE ANCHE IL TITOLO
            // AGGIUNGERE IL COUNT AL TEMPLATE?
            _editPost: function(e) {
                this.pageField = "editPost";
                this.pageFieldId = e.model.post.id;
                this._tempTitle = "";
                this._tempMessage = e.model.post.message;
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // show window to reply to a post
            _replyPost: function(e) {
                this.pageField = "reply";
                this.$.forumpages.select(3);
                this._checkBack = this.$.forumpages.selected != 0;
            },
            
            // return info of a specific user by id
            _findUser: function(id) {
                var pos = this.user.findIndex(this._findId, {id: id});
                return this.user[pos];
            },
            
            // support to find position of an id in an array
            _findId: function(element, index, array) {
                return element.id == this.id;
            },
            
            // support to find position of an id in an array
            _findIndex: function(element) {
                return element.id == this.pageFieldId;
            },
            
            // elaborate data received by the 'resultReady' event
            _catchResult: function(data) {
                this.editEvent = data.detail.result;
                
                // Edit message in 'post' array
                if(this.pageField == "editPost") {
                    var pos = this.post.findIndex(this._findIndex, this);
                    this.pageFieldId = this.post[pos].topic;
                    this.post[pos].message = this.editEvent.message;
                    this.notifyPath('post.' + pos + '.message');
                    this.pageField = "topic";
                    this.$.forumpages.select(2);
                    this._checkBack = this.$.forumpages.selected != 0;
                    
                // Add a new record in 'post' array
                } else if(this.pageField == "reply") {
                    var newid = this.post[this.post.length-1].id + 1;
                    this.post.push({id: newid, topic: this.editEvent.typeid, message: this.editEvent.message, user: 4});
                    this.notifySplices('post', [{index: (newid - 1), removed: [], addedCount: 1, object: this.post}]);
                    this.pageField = "topic";
                    this.$.forumpages.select(2);
                    this._checkBack = this.$.forumpages.selected != 0;
                    
                // Add a new record in 'topic' and 'post' arrays
                } else if(this.pageField == "newTopic") {
                    var newid = this.topic[this.topic.length-1].id + 1;
                    this.topic.push({id: newid, section: this.editEvent.typeid, title: this.editEvent.title, status: 'open'});
                    this.notifySplices('topic', [{index: (newid - 1), removed: [], addedCount: 1, object: this.topic}]);
                    var newid2 = this.post[this.post.length-1].id + 1;
                    this.post.push({id: newid2, topic: newid, message: this.editEvent.message, user: 4});
                    this.notifySplices('post', [{index: (newid2 - 1), removed: [], addedCount: 1, object: this.post}]);
                    this.pageField = "section";
                    this.$.forumpages.select(1);
                    this._checkBack = this.$.forumpages.selected != 0;
                    
                // 
                } else {
                    this.$.forumpages.select(1);
                    this._checkBack = this.$.forumpages.selected != 0;
                }
                
                this.fire('forumEdit');
            },
            
            // elaborate data received by the 'editArea' event in forum-edit component
            _catchArea: function(data) {
                this.area = data.detail.result;
                if(data.detail.type == "newArea") {
                    this.notifySplices('area', [{index: (this.area.length - 1), removed: [], addedCount: 1, object: this.area}]);
                } else if(data.detail.type == "editArea") {
                    this.notifyPath('area.' + data.detail.pos + '.title');
                } else if(data.detail.type == "deleteArea") {
                    this.notifySplices('area', [{index: data.detail.pos, removed: [data.detail.removed], addedCount: 0, object: this.area}]);
                }
            },
            
            // elaborate data received by the 'editSection' event in forum-edit component
            _catchSection: function(data) {
                this.section = data.detail.result;
                if(data.detail.type == "newSection") {
                    this.notifySplices('section', [{index: (this.section.length - 1), removed: [], addedCount: 1, 
                                                object: this.section}]);
                } else if(data.detail.type == "editSection") {
                    this.notifyPath('section.' + data.detail.pos + '.title');
                    this.notifyPath('section.' + data.detail.pos + '.description');
                    this.notifyPath('section.' + data.detail.pos + '.area');
                    if(data.detail.oldsub != this.section[data.detail.pos].subsection)
                        this.notifyPath('section.' + data.detail.pos + '.subsection');
                      
                } else if(data.detail.type == "deleteSection") {
                    this.notifySplices('section', [{index: data.detail.pos, removed: [data.detail.removed], addedCount: 0, object: this.section}]);
                }
            }
		});
	</script>
</dom-module>