<dom-module id="forum-section">
	<template>
		<style>
            :host {
                padding: 10px;
                cursor: pointer;
            }
            .box {
                margin-left: 15px;
            }
            .description {
                font-style: oblique;
            }
		</style>
        
        <div class="box">
            <div>{{name}}</div>
            <div class="description">{{description}}</div>
            <content></content>
        </div>
	</template>

	<script>
		Polymer({
			is: "forum-section",

			properties: {
				// 
				name: {
					type: String,
					value: "Forum Section"
				},
                // 
				description: {
					type: String,
					value: "Section description"
				}
			}
		});
	</script>
</dom-module>