<dom-module id="forum-edit">
	<template>
		<style>
            :host {
                padding: 10px;
            }
            .box {
                height: auto;
                background-color: #fff;
                border: 1px solid #000;
                padding: 10px;
                margin: 20px;
                float: left;
                text-align: center;
            }
            .boxArea {
                width: auto;
                min-width: 150px;
            }
            .field {
                padding: 5px;
                cursor: pointer;
            }
            .field-highlighted {
                background-color: cornflowerblue;
                border-radius: 15px;
            }
            .action {
                width: 17px;
                height: 17px;
            }
            iron-icon {
                cursor: pointer;
            }
            .addButton {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                padding: 5px;
                border-top: 1px solid #000;
            }
            .boxInsert {
                width: 300px;
            }
            .title {
                font-weight: bold;
            }
            .titleInput {
                margin-bottom: 15px;
            }
            .messageArea {
                background-color: white;
                width: 100%;
            }
            .formButton {
                text-align: center;
            }
            .actionButton {
                border: 1px solid black;
                margin-top: 15px;
            }
		</style>
        
        <!-- Form to insert/edit topic or post -->
        <template is="dom-if" if="{{!_isForumEdit}}">
            <form is="iron-form" id="editForm" method="post">
                <template is="dom-if" if="{{_isTopic}}">
                    <paper-input name="title" value={{title}} label="Title" class="titleInput"></paper-input>
                </template>
                <input type="hidden" name="message" value={{message}}>
                <iron-autogrow-textarea label="Message" rows="20" class="messageArea">{{message}}</iron-autogrow-textarea>
                <input name="typeid" type="hidden" value={{typeId}}>
                <div class="formButton">
                    <paper-button on-click="_sendForm" class="actionButton">{{_textButton}}</paper-button>
                </div>
            </form>
        </template>
        
        <!-- Form to insert/remove new area or section -->
        <template is="dom-if" if="{{_isForumEdit}}">
            <div class="box boxArea">
                <template is="dom-repeat" items={{area}} as="area" filter="{{computeFilter2()}}">
                    <div class="field">
                        <iron-icon icon="remove" class="action" on-click="_removeArea"></iron-icon>
                        <iron-icon icon="create" class="action" on-click="_editArea"></iron-icon>
                        <span on-click="_showSection">{{area.title}}</span>
                    </div>
                </template>
                <paper-button class="addButton" on-click="_addArea">
                    <iron-icon icon="add"></iron-icon>
                    Add area
                </paper-button>
            </div>
            
            <template is="dom-if" if="{{_tempIdArea}}">
            <div class="box boxArea">
                <template is="dom-repeat" items={{section}} as="section" filter="{{computeFilter(_tempIdArea)}}" 
                          observe="area">
                    <div class="field">
                        <iron-icon icon="remove" class="action" on-click="_removeSection"></iron-icon>
                        <iron-icon icon="create" class="action" on-click="_editSection"></iron-icon>
                        <span on-click="_showSection">{{section.title}}</span>
                    </div>
                </template>
                <paper-button class="addButton" on-click="_addSection">
                    <iron-icon icon="add"></iron-icon>
                    Add section
                </paper-button>
            </div>
            </template>
            <template is="dom-if" if="{{_tempInsert}}">
                <div class="box boxInsert">
                    <div class="title">{{_tempDescInsert}}</div>
                    <form is="iron-form" id="editForm2" method="post">
                        <paper-input name="name" value={{_name}} label="Name" required></paper-input>
                        <template is="dom-if" if="{{_checkSection}}">
                            <paper-input name="description" value={{_description}} label="Description" required></paper-input>
                            
                            <paper-dropdown-menu label="Area" selected-item="{{selectedArea}}" 
                                                 vertical-align="top" horizontal-align="left" 
                                                 dynamic-align>
                                <paper-listbox class="dropdown-content" selected="{{_indexSelectArea}}">
                                    <template is="dom-repeat" items={{area}} as="area" filter="{{computeFilter3(_tempIdArea)}}">
                                        <paper-item name="{{area.id}}" on-click="_insertSelectedArea">{{area.title}}</paper-item>
                                    </template>
                                    <template is="dom-repeat" items={{area}} as="area" filter="{{computeFilter4(_tempIdArea)}}">
                                        <paper-item name="{{area.id}}" on-click="_insertSelectedArea">{{area.title}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <input type="hidden" name="idarea" value={{_idarea}}>
                            
                            <paper-dropdown-menu label="SubSection" selected-item="{{selectedSection}}" 
                                                 vertical-align="top" horizontal-align="left" 
                                                 dynamic-align>
                                <paper-listbox class="dropdown-content" selected="{{_indexSelectSection}}">
                                    <template is="dom-repeat" items={{section}} as="section" filter="{{computeFilter5(_sectionSub)}}">
                                        <paper-item name="{{section.id}}" on-click="_insertSelectedSection">{{section.title}}</paper-item>
                                    </template>
                                    <paper-item name="null" on-click="_insertSelectedSection">none</paper-item>
                                    <template is="dom-repeat" items={{section}} as="section" 
                                              filter="{{computeFilter6(_tempIdArea, typeId, _sectionSub)}}">
                                        <paper-item name="{{section.id}}" on-click="_insertSelectedSection">{{section.title}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <input type="hidden" name="subsection" value={{_subsection}}>
                        </template>
                        <paper-button on-click="_insertArSe">Insert</paper-button>
                    </form>
                </div>
            </template>
        </template>
	</template>

	<script>
		Polymer({
			is: "forum-edit",

			properties: {
				// 
				type: {
					type: String,
                    observer: '_isNewTopic'
				},
                // 
				typeId: {
					type: Number
				},
                // Check to view or not title of form
                _isTopic: {
                    type: Boolean
                },
                // Check to view or not edit tool of forum
                _isForumEdit: {
                    type: Boolean
                },
                // title of a topic
				title: {
					type: String,
                    value: ''
				},
                // message of a post
				message: {
					type: String,
                    value: '',
                    observer: '_updateMessage'
				},
                // list of areas
                area: {
                    type: Array
                },
                // list of sections
                section: {
                    type: Array
                },
                //
				result: {
					type: Array,
                    observer: "_resultReady"
				}
			},
            
            listeners: {
                'iron-form-element-register': '_startEditor'
            },
            
            ready: function() {
                this._tempIdArea = null;
                this._tempInsert = null;
            },
            
            behaviors: [
                Polymer.IronA11yKeysBehavior
            ],
            
            keyBindings: {
                'enter': '_keySubmitForm'
            },
            
            // submit form pressing enter button
            _keySubmitForm: function(event) {
                event.detail.keyboardEvent.target.form.$$('paper-button').click();
            },
            
            // check type of edit
            // _isForumEdit: FALSE -> view topic or post
            //               TRUE  -> view structure of forum 
            // _isTopic:     FALSE -> title hidden
            //               TRUE  -> title visible 
            _isNewTopic: function() {
                this._isForumEdit = this.type == "editForum";
                this._isTopic = this.type == "newTopic" || this.type == "editTopic";
                switch(this.type) {
                    case "newTopic":
                        this._textButton = "CREATE";
                        break;
                    case "editTopic":
                        this._textButton = "EDIT TOPIC";
                        break;
                    case "editPost":
                        this._textButton = "EDIT POST";
                        break;
                    case "reply":
                        this._textButton = "REPLY";
                        break;
                }
            },
            
            // EDITING TOPIC AND POST
            // -----------------------
            
            // inizialize text editor
            _startEditor: function() {
                tinymce.init({ 
                    target: document.querySelector('textarea'),
                    menubar: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code'
                    ],
                    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image' 
                });
            },
            
            // update message in editor 
            _updateMessage: function() {
                this.async(function() {
                    if(tinymce.activeEditor != null)
                    if(this.message == null)
                        tinymce.activeEditor.setContent('');
                    else
                        tinymce.activeEditor.setContent(this.message);
                });
            },
            
            // submit form of a topic or a post
            _sendForm: function() {
                this.message = tinymce.activeEditor.getContent();
                if(this.$$('#editForm').validate()) {
                    this.result = this.$$('#editForm').serialize();
                    this.$$('#editForm').reset();
                    this.title = null;
                    this.message = null;
                }
            },
            
            // send event 'resultReady' to notify to app-forum component
            _resultReady: function() {
                this.fire('resultReady', {result: this.result});
            },
            
            // EDITING FORUM STRUCTURE
            // -----------------------
            
            // insert selected area in the hidden field 'idarea'
            _insertSelectedArea: function() {
                this._idarea = this.selectedArea.name;
            },
            
            // insert selected section in the hidden field 'subsection'
            _insertSelectedSection: function() {
                this._subsection = this.selectedSection.name;
            },
            
            // show sub-element of an area or a section
            _showSection: function(e) {
                if(e.model.area != undefined) {
                    this._tempIdArea = e.model.area.id;
                    this._idarea = this._tempIdArea;
                }
                e.target.parentNode.parentNode.querySelectorAll('.field').forEach(function(el) {
                    this.classFollows('field-highlighted', e.target.parentNode, el);
                }.bind(this));
                
                this._sectionSub = null;
                this._tempInsert = null; // close edit form
            },
            
            // filter to select sections of active area
            computeFilter: function(idArea) {
                return function(section) {
                    return section.area == idArea;
                };
            },
            
            // update list of areas when edited 
            computeFilter2: function() {
                return function(area) {
                    return true;
                };
            },
            
            // filter to select active area
            computeFilter3: function(idArea) {
                return function(area) {
                    return area.id == idArea;
                };
            },
            
            // filter to select no active areas
            computeFilter4: function(idArea) {
                return function(area) {
                    return area.id != idArea;
                };
            },
            
            // filter to select active subsection if it exists
            computeFilter5: function(idSub) {
                return function(section) {
                    return section.id == idSub;
                };
            },
            
            // filter to select all sections of active area without active section
            computeFilter6: function(idArea, idSection, idSub) {
                return function(section) {
                    return section.area == idArea && section.id != idSection && section.id != idSub;
                };
            },
            
            // set window to edit an area
            _editArea: function(e) {
                this._tempInsert = true;
                this._name = e.model.area.title;
                this._tempAddField = "editArea";
                this.typeId = e.model.area.id;
                this._checkSection = this._tempAddField == "editSection";
                this._tempDescInsert = "Edit name of area:";
            },
            
            // set window to edit a section
            _editSection: function(e) {
                this._tempInsert = true;
                this._name = e.model.section.title;
                this._description = e.model.section.description;
                this._sectionArea = e.model.section.area;
                this._sectionSub = e.model.section.subsection;
                this._subsection = this._sectionSub;
                this._tempAddField = "editSection";
                this.typeId = e.model.section.id;
                this._checkSection = this._tempAddField == "editSection";
                this._tempDescInsert = "Edit name and description of section:";
                this._indexSelectArea = undefined;
                this._indexSelectArea = 0;
                this._indexSelectSection = undefined;
                this._indexSelectSection = 0;
            },
            
            // remove the selected area
            _removeArea: function(e) {
                this.typeId = e.model.area.id;
                var pos = this.area.findIndex(this._findIndex, this);
                var tempArea = this.splice('area', pos, 1);
                this.notifySplices('area', [{index: pos, removed: [tempArea], addedCount: 0, object: this.area}]);
                var n = this.section.length;
                for(var i = 0; i < n; i++) {
                    if(this.section[i].area == this.typeId) {
                        var tempSection = this.section[i];
                        this.splice('section', i, 1);
                        this.notifySplices('section', [{index: i, removed: [tempSection], addedCount: 0, object: this.section}]);
                        i--; n--;
                    }
                }
                this._tempIdArea = null;
                this.fire('editArea', {type: "deleteArea", pos: pos, removed: tempArea, result: this.area});
            },
            
            // remove the selected section
            _removeSection: function(e) {
                var pos = this.section.findIndex(this._findSection, e.model.section);
                var tempSection = this.splice('section', pos, 1); 
                this.notifySplices('section', [{index: pos, removed: [tempSection], addedCount: 0, object: this.section}]);
                this.fire('editSection', {type: "deleteSection", pos: pos, removed: tempSection, result: this.section});
            },
            
            // set window to add an area
            _addArea: function() {
                this._tempDescInsert = "Insert name of area:";
                this._tempInsert = true;
                this._tempAddField = "area";
                this._checkSection = this._tempAddField == "section";
                this._name = null;
                this._description = null;
            },
            
            // set window to add a section
            _addSection: function() {
                this._tempDescInsert = "Insert name and description of section:";
                this._tempInsert = true;
                this._tempAddField = "section";
                this._checkSection = this._tempAddField == "section";
                this._name = null;
                this._description = null;
                this.typeId = null;
                this._sectionSub = null;
                this._indexSelectArea = undefined;
                this._indexSelectArea = 0;
                this._indexSelectSection = undefined;
                this._indexSelectSection = 0;
            },
            
            // find position in array of an alement by id
            _findIndex: function(element) {
                return element.id == this.typeId;
            },
            
            // find position in array of a section by id
            _findSection: function(element) {
                return element.id == this.id;
            },
            
            // submit form edit of an area or a section
            _insertArSe: function() {
                //alert(JSON.stringify(this.$$('#editForm2').serialize()));
                if(this.$$('#editForm2').validate()) {
                    var newField = this.$$('#editForm2').serialize();
                    var name = newField.name;
                    var description = newField.description;
                    var area = newField.idarea;
                    var subsection = newField.subsection;
                    if(this._tempAddField == "area") {              // new area
                        if(this.area[this.area.length-1] != undefined)
                            var newid = this.area[this.area.length-1].id + 1;
                        else
                            var newid = 1;
                        this.area.push({id:newid, title: name});
                        this.notifySplices('area', [{index: (newid - 1), removed: [], addedCount: 1, object: this.area}]);
                        this.fire('editArea', {type: "newArea", result: this.area});

                    } else if(this._tempAddField == "section") {    // new section
                        var newid = this.section[this.section.length-1].id + 1;
                        this.section.push({id:newid, area: newField.idarea, title: name, description: description, 
                                           subsection: subsection});
                        this.notifySplices('section', [{index: (newid - 1), removed: [], addedCount: 1, object: this.section}]);
                        this.fire('editSection', {type: "newSection", result: this.section});

                    } else if(this._tempAddField == "editArea") {
                        var pos = this.area.findIndex(this._findIndex, this);
                        this.area[pos].title = name;
                        this.notifyPath('area.' + pos + '.title');
                        this.fire('editArea', {type: "editArea", pos: pos, result: this.area});

                    } else if(this._tempAddField == "editSection") {
                        var pos = this.section.findIndex(this._findIndex, this);
                        this.section[pos].title = name;
                        this.section[pos].description = description;
                        this.section[pos].area = area;
                        var oldSub = this.section[pos].subsection;
                        this.section[pos].subsection = subsection;
                        this.notifyPath('section.' + pos + '.title');
                        this.notifyPath('section.' + pos + '.description');
                        this.notifyPath('section.' + pos + '.area');
                        this.notifyPath('section.' + pos + '.subsection');
                        this.fire('editSection', {type: "editSection", pos: pos, oldsub: oldSub, result: this.section});
                    }
                    this._name = null;
                    this._description = null;
                    this._tempInsert = false;
                }
            }
		});
	</script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
</dom-module>