<dom-module id="forum-edit">
	<template>
		<style>
            :host {
                padding: 10px;
            }
		</style>

		<div>{{type}}</div>
        <div>{{typeId}}</div>
        <form is="iron-form" id="editForm" method="post" action="/form/handler">
            <template is="dom-if" if="{{_isTopic}}">
                <div><paper-input name="title" value={{title}} label="Title"></paper-input></div>
            </template>
            <div><paper-input name="message" value={{message}} label="Message"></paper-input></div>
            <input name="typeid" type="hidden" value={{typeId}}>
            <paper-button on-click="_sendForm">CREA</paper-button>
        </form>
	</template>

	<script>
		Polymer({
			is: "forum-edit",

			properties: {
				// 
				type: {
					type: String,
                    observer: '_isNewTopic'
				},
                // 
				typeId: {
					type: Number
				},
                // Check to view or not title of form
                _isTopic: {
                    type: Boolean
                },
                // 
				title: {
					type: String,
                    value: ''
				},
                // 
				message: {
					type: String,
                    value: ''
				},
                // 
				result: {
					type: Array,
                    observer: "_resultReady"
				}
			},
            
            ready: function() {
                
            },
            
            _isNewTopic: function() {
                this._isTopic = this.type == "newTopic";
                return this._isTopic;
            },
            
            _sendForm: function() {
                this.result = this.$.editForm.serialize();
                this.$.editForm.reset();
                //alert("unshift: " + JSON.stringify(this.$.form.serialize()));
            },
            
            _resultReady: function() {
                this.fire('resultReady', {result: this.result});
            }
		});
	</script>
</dom-module>